<form class="form-horizontal"   id="form-login" >
  <div class="form-group">
    <label for="email-login" class="col-sm-2 control-label text-warning">Email:</label>
    {{!-- <div class="col-sm-4"> --}}
      <input type="email" class="form-control  bg-dark text-white " id="email-login" placeholder="Enter your email" />
    </div>
  
  
  
  <div class="form-group">
    <label for="password-login" class="col-sm-2 control-label text-warning">Password:</label>
    {{!-- <div class="col-sm-4"> --}}
      <input type="password"  class="form-control bg-dark text-white" id="password-login" placeholder="Enter your password" />
    </div>
  
  
  <div>
    <button type="submit" class="btn btn-warning" id="btn-login">Login </button> 
    <div class="nav-item">
        <a class="nav-link text-white" href="/signup">Sign-up</a>
       

    
  </div>
  </div>
  </div>
</form>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>