<form action="/characters/add" method="POST" id="character-creator" class="character-creator">
    <div >
        <h1>Character Creator</h1>

         <!-- Name input-->
        <div class="form1">
            <label for="char-name">Character Name: </label>
            <input type="text" id="char-name" name="character_name" required>
        </div>
<div class="agegen form1">
          <!-- Age selection -->
        <div>
            <label for="char-age">Age: </label>
            <input type="number" id="char_age" name="age" required>
        </div>
        <!-- Gender selection -->
        <div>
            <label for="char-gender">Gender: </label>
            <select id="char-gender" name="gender" required>
                <option hidden></option>
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
            </select>
        </div>
        </div>
        <div class="form1">

        <!-- Character level -->
        {{!-- <div>
            <label for="char-level">Character level: </label>
            <input type="number" id="char-level" name="char-level" min="1" max="20" required>

        </div> --}}

        <!-- Race selection -->
        <div class="form1">
            <label for="char-race">Race: </label>
            <select id="char-race" name="race" required>
                <option hidden></option>
                <option value="dragonborn">Dragonborn</option>
                <option value="dwarf">Dwarf</option>
                <option value="elf">Elf</option>
                <option value="gnome">Gnome</option>
                <option value="half-elf">Half-Elf</option>
                <option value="half-orc">Half-Orc</option>
                <option value="halfling">Halfling</option>
                <option value="human">Human</option>
                <option value="tiefling">Tiefling</option>
            </select>
        </div>

<!-- Class selection -->
        <div class="form1">
            <label for="char-class">Classes: </label>
            <select id="char-class" name="char_class" required>
                <option hidden></option>
                <option value="barbarian">Barbarian</option>
                <option value="bard">Bard</option>
                <option value="cleric">Cleric</option>
                <option value="druid">Druid</option>
                <option value="fighter">Fighter</option>
                <option value="monk">Monk</option>
                <option value="paladin">Paladin</option>
                <option value="ranger">Ranger</option>
                <option value="rogue">Rogue</option>
                <option value="sorcerer">Sorcerer</option>
                <option value="warlock">Warlock</option>
                <option value="wizard">Wizard</option>
        </div>
        </select>

         <!-- Background selection -->
        <div class="form1">
            <label for="char-background">Background: </label>
            <select id="char-background" name="background" required>
                <option hidden></option>
                <option value="acolyte">Acolyte</option>
                
            </select>
        </div>

         <!-- Ability selection -->
        <div class="scores form1">
         <div>
            <label for="char-strength">Ability Score: Strength: </label>
            <input type="number" id="char-str" name="str" required>
        </div>

         <div>
            <label for="char-dexterity">Ability Score: Dexterity: </label>
            <input type="number" id="char-dex" name="dex" required>
        </div>

         <div>
            <label for="char-constitution">Ability Score: Constitution: </label>
            <input type="number" id="char-con" name="con" required>
        </div>
         <div>
            <label for="char-intelligence">Ability Score: Intelligence </label>
            <input type="number" id="char-int" name="int" required>
        </div>
       
         <div>
            <label for="char-wisdom">Ability Score: Wisdom: </label>
            <input type="number" id="char-wis" name="wis" required>
        </div>
         <div>
            <label for="char-charisma">Ability Score: Charisma: </label>
            <input type="number" id="char-cha" name="cha" required>
        </div>
        </div>
        
            <button type="submit" id="submitbtn" href="/characters/add" class= "form1 create-submit" >Create your character</button>
        </div>
    </div>
</form>
{{!-- {{#if loggedIn}}
<script src="./js/logout.js"></script>
{{/if}} --}}
<script src="./js/submit.js"></script>
