
<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
  
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-welcome-container">
        <h1 class="text-warning" id="header-welcome">Welcome</h1>
        <p> Please login or signup to create your new Dungeons and Dragon Character!</p>

      <div>
        {{> login}}
      </div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
        

  

         
    
     






{{#if loggedIn}}
<script src="./js/search.js"></script>
{{/if}}
