
<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
  
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-welcome-container">
        <h2 class="text-warning" id="header-welcome">Welcome</h2>
      </div>
     <button class="btn btn-default">
     <img src="./assets/button2off.jpg" width="20" /> CREATE NEW CHARACTER
</button>
    </div>
  </div>
</div>


<!-- to maybe use later -->
{{!-- <ol class="character-list" style="height: 80vh; overflow-y: scroll"> --}}

<!-- character array -->


{{!-- {{#each characters as |characters|}}
  <ul>
      {{> character-info character }} 
    </div>
  </ul>
{{/each}}
</ol> --}}



{{#if loggedIn}}
<script src="/js/add-post.js"></script>
<script src="/js/search.js"></script>
{{/if}}
