
<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
    <form class="new-post-form">
        <input type="text" class="form-control bg-dark text-white" id="post-input" name="post-text" placeholder="What's on your mind?" />    
        <button type="submit" class="btn btn-warning" id="btn-post">Post</button>

    </form>
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-welcome-container">
        <h2 class="text-warning" id="header-welcome">Welcome</h2>
      </div>
      
    </div>
  </div>
</div>


<!-- to maybe use later -->
{{!-- <ol class="character-list" style="height: 80vh; overflow-y: scroll"> --}}

<!-- character array -->


{{!-- {{#each characters as |characters|}}
  <ul>
      {{> character-info character }} 
    </div>
  </ul>
{{/each}}
</ol> --}}



{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/search.js"></script>
{{/if}}
