<div class="container">
  <div class="row">
    <div class="col-12">
      {{#if loggedIn}}{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-welcome-container">
        <h1 class="text-warning" id="header-welcome">Welcome</h1>
        <span class="newcharbutton">
          {{! if logged in to be added here evntually }}
          <button>
            <a href="/character-creator">Create New Character </a>
          </button>
        </span>

        <span class="newcharsheet">
          <button> <a href="/character-sheet">New Character Sheet </a> </button>
        </span>
      </div>
    </div>
  </div>
</div>
{{! <button class="newchar">CREATE NEW CHARACTER
             <img class="image" src= "./images/button2off.jpg" ></button> }}

<!-- to maybe use later -->
{{! <ol class="character-list" style="height: 80vh; overflow-y: scroll"> }}

<!-- character array -->

{{!-- {{#each characters as |characters|}}
  <ul>
      {{> character-info character }} 
    </div>
  </ul>
{{/each}}
</ol> --}}

{{#if loggedIn}}
  <script src="./js/search.js"></script>
{{/if}}

{{! //Delete this }}