<div class="navbar navbar-expand-lg navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-warning" href="/"><h1>DnD Character Creator <i class="fa-brands fa-d-and-d"></i></h1></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/login">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="search-form">
          <input type="text" class="form-control mr-sm-2 bg-dark text-white" id="search-input" name="search-text" placeholder="Search" aria-label="Search">
          <button type="submit" class="btn btn-outline-warning my-2 my-sm-0" id="btn-post">Search</button>
    </form>
  </div>
</div>
<form class="form-horizontal" id="form-signup">

  <div class="form-group">
    <label
      for="username-signup"
      class="col-sm-2 control-label text-warning"
    >Username:</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control bg-dark text-white"
        id="username-signup"
        placeholder="Required"
      />
    </div>
  </div>
  <div class="form-group">
    <label
      for="email-signup"
      class="col-sm-2 control-label text-warning"
    >Email:</label>
    <div class="col-sm-4">
      <input
        type="email"
        class="form-control bg-dark text-white"
        id="email-signup"
        placeholder="Required"
      />
    </div>
  </div>

  <div class="form-group">
    <label
      for="password-signup"
      class="col-sm-2 control-label text-warning"
    >Password:</label>
    <div class="col-sm-4">
      <input
        type="password"
        class="form-control bg-dark text-white"
        id="password-signup"
        placeholder="Required"
      />
    </div>
  </div>
  <div>
    <button
      type="submit"
      class="btn btn-warning"
      id="btn-signup"
    >Sign-up</button>
  </div>
</form>

<script src="/js/signup.js"></script>