<form class="form-horizontal" id="form-signup">
  
  <div class="form-group">
    <label for="username-signup" class="col-sm-2 control-label text-warning">Username:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control bg-dark text-white" id="username-signup" placeholder="Required" />
    </div>
  </div>
  
  <div class="form-group">
    <label for="email-signup" class="col-sm-2 control-label text-warning">Email:</label>
    <div class="col-sm-4">
      <input type="email" class="form-control bg-dark text-white" id="email-signup" placeholder="Required" />
    </div>
  </div>

  <div class="form-group">
    <label for="password-signup" class="col-sm-2 control-label text-warning">Password:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control bg-dark text-white" id="password-signup" placeholder="Required" />
    </div>
  </div>



  <div>
    <button type="submit" class="btn btn-warning" id="btn-signup">Sign-up</button>
  </div>

</form>

<script src="/javascript/signup.js"></script>